h1 {
  margin: 0;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.1em;
}

.container {
  margin: 1rem auto;
  padding: 2rem;
  width: 40%;
  background-color: lightgray;
  user-select: none;
  border: 0.5rem double grey;
  border-radius: 1rem;
}

.meme_img {
  width: 50%;
  aspect-ratio: 1/1;
  opacity: 1;
  transition: 0.5s;
  cursor: inherit;
}

.img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  cursor: inherit;
}

.container input{
  display: none;
}

.container input:not(:checked) + label {
  color: blue;
}

.container input:not(:checked) + label .img_wrapper img {
  opacity: 0;
  transition: 0.5s;
}

.container input:not(:checked) + label:hover .img_wrapper {
  transform: scale(1);
  transition: 0.5s;
}

.container input:not(:checked) + label .img_wrapper {
  transform: scale(0);
  transition: all 0.5s;
}

.container:hover input + label {
  color: black;
}

.container:hover .add_icon{
    opacity: 1; 
}

input:checked + label .add_icon{
  transition: 0.5s;
  transform: rotate(45deg);
}

input:checked + label .img_wrapper {
  height: 100%;
}

.meme_item:hover .add_icon{
  transition: 0.5s;
  transform: rotate(45deg);
}

.meme_item:hover .img_wrapper {
  height: 100%;
}

.container input:not(:checked) + label:hover .img_wrapper img {
  opacity: 1;
  transition: 0.5s;
}


.heading_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: inherit;
}

.add_icon {
  opacity: 0;
  transition: 0.5s;
  cursor: inherit;
}

.meme_item {
  cursor: pointer;
}

.meme_item:active .heading_wrapper  {
  color: blue;
  opacity: 0.5;
}

.meme_item:active .img_wrapper  {
  opacity: 0.5;
}

.material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
}
